body {
    font-family: 'Open Sans', sans-serif;
    max-width: 1680px;
    margin: auto;
    background-color: white;
    /* Add some padding so the content doesn't hit the edge of the viewport */
    padding: 0 20px;
    box-sizing: border-box;
}

.hero-banner {
    background-color: #f5f5f5;
    padding: 20px 0;
}

.floatcard-dark {
  margin: 20px;
  background: linear-gradient(135deg, #2B2D42, #1C1E2A);
  padding: 20px; /* Adjust this value as needed */
  border-radius: 10px; /* Adjust this value as needed */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); /* This creates the floating effect */
}


.floatcard-white {
    margin: 20px;
    background-color: #EDF2F4;
    padding: 20px; /* Adjust this value as needed */
    border-radius: 10px; /* Adjust this value as needed */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); /* This creates the floating effect */
}

.floatcard-small-light {
    margin: 20px;
    background-color: #EDF2F4;
    padding: 5px; /* Adjust this value as needed */
    border-radius: 10px; /* Adjust this value as needed */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); /* This creates the floating effect */
}

.floatcard-small-dark {
    margin: 20px;
    background-color: #2B2D42;
    padding: 5px; /* Adjust this value as needed */
    border-radius: 10px; /* Adjust this value as needed */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); /* This creates the floating effect */
}

.hero-banner {
    margin: 20px;
    padding: 50px 0px 50px 0px;
    border-radius: 10px; /* Adjust this value as needed */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); /* This creates the floating effect */
}

.container-columns {
    margin: 0px;
}


/* ####### Priekš bannera: #######*/
.part1, .part2, .part3 {
    font-weight: bold; /* Makes text bold */
}

.part1, .part2 {
    color: #2B2D42;
}

.part3 {
    color: red;
}

/* Flexbox for vertical alignment */
.hero-banner .row {
    display: flex;
    align-items: center; /* Aligns items vertically in the middle */
}



/*##### MASONRY: #####*/
.masonry {
    column-gap: 1em;
  }
  
  .masonry > div {
    
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
  }
  
  /* For mobile devices */
@media (max-width: 600px) {
    .masonry {
      column-count: 1;
    }
    .hero-banner .part1, .part2, .part3 {
      font-size: 48px;
  }
  h1 {
    line-height: 70%;
  }
  }
  
  /* For tablet to wide screens */
  @media (min-width: 601px) and (max-width: 1024px) {
    .masonry {
      column-count: 1;
    }
    .hero-banner h1 {
      font-size: 60px;
  }
  }
  
 /* For large screens */
@media (min-width: 1025px) {
    .masonry {
      column-count: 2;
    }
  }

  .container-columns {
    margin: 20px;
  }

  /* svg zoom in transition: */
  .zoom-image {
    transition: transform .2s; /* Animation */
  }
  
  .zoom-image:hover {
    transform: scale(1.2); /* (120% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  /* fluent bounce: */
  .float-image {
    animation: float 3s ease-in-out infinite;
  }
  
  @keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-20px);
    }
    100% {
      transform: translatey(0px);
    }
  }
  
  /*typewriter icon movement:*/
  
    @keyframes typewriter {
        0% {
            opacity: 0;
            transform: translateX(-10px);
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            transform: translateX(10px);
        }
    }
    
    .typewriter-icon {
        font-size: 24px;
        animation: typewriter 1s infinite;
        display: inline-block;
        vertical-align: middle;
    }






 /* Define the animation */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* Define the blinking cursor animation */
@keyframes blink {
  50% { border-color: transparent }
}

.part3 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 4px solid red; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
      typing 3.5s steps(30, end),
      blink .75s step-end infinite;
}

/* Change the color of the typewriter cursor */
.part3 {
  border-color: red;
}


.skew-content {
  -webkit-transform: perspective(1000px) rotateX(22deg);
}
